{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	|
	{% trans %}Music{% endtrans %}
{% endblock %}

{% block body %}
	{% if app.user %}
		{% if app.user.roles|filter(ro=>ro=="ROLE_ADMIN")|length == 1 %}
			<a href="{{ path('app_music_creation') }}" style="font-size: 220%;">{% trans %}Add.a.Music{% endtrans %}</a>
		{% endif %}
	{% else %}
		<p>Seul les admins peuvent ajouter des musics</p>
	{% endif %}
	<div class="d-flex flex-row flex-wrap m-4" style="justify-content: space-evenly;">
		{% for music in musics %}
			<div class="card text-dark" style="width:18%; margin-bottom:12px;background-color:#222222;">
			<img class="card-img-top " style="width:100%; margin:auto; " src={{music.album.cover.link}} alt="Card image cap">
				<div class="card-body">
                	<h3 style="color:white;">{{ music.title }}</h3>
					<h3 style="color:gray;">{% trans %}Album{% endtrans %}: {{ music.album.name }}</h3>
					<h3 style="color:gray;">{% trans %}from{% endtrans %} {{ music.artist.name }}</h3>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
